body{
    
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background: #2e010c;
    box-shadow: 0 5px 15px rgb(34, 7, 1);
}

#navBar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navBar li {
    list-style: none;
    padding: 0px 20px;
}

#navBar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #931097;
    transition: 0.5s ease-in-out;
}

#navBar li a:hover{
    color: #f8f4f8;
}

#hero{
    background-image: url(img/Uzg.jpg);
    height: 120vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h1{
    color:saddlebrown;
}

#hero p{
    font-style: italic;
}


#hero button{
    background-color: orangered;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}